[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fobitools"]
	path = fobitools
	url = https://github.com/pcastellanoescuder/fobitools
	shallow = true
	registered = true
